<div class="user-dashboard-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="input-group zip-group">
                    <span class="input-group-addon" id="zip">Zip</span>
                    <input ng-model="zip" type="text" class="form-control" >
                </div>
                <div class="input-group state-group">
                    <span class="input-group-addon" id="state">State</span>
                    <input ng-model="state" type="text" class="form-control" >
                </div>
                <div class="input-group city-group">
                    <span class="input-group-addon" id="city">City</span>
                    <input ng-model="city" type="text" class="form-control" >
                </div>
                <button class="btn btn-primary" type="submit" ng-click="search()">Search</button>
            </form>
        </div>
        <div class="col-md-3">
            <form class="form-inline">
                <select ng-model="viewSelector" ng-change="viewChanged()" class="form-control">
                    <option>Statistics</option>
                    <option>Map View</option>
                    <option>Connectivity View</option>
                    <option>Sensor Data View</option>
                </select>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row table-data-view">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Street</th>
                    <th># of clusters</th>
                    <th># of nodes</th>
                    <th># of sensors</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="street in streetStat">
                    <th>{{street.name}}</th>
                    <th>{{street.clusters}}</th>
                    <th>{{street.nodes}}</th>
                    <th>{{street.sensors}}</th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row map-data-view disabled">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="map"></div>
            <div class="map-legend">
                <img class="legend-img" src="image/cluster-icon.png"><span> - Smart Cluster</span>
                <img class="legend-img" src="image/node-icon.png"><span> - Smart Node</span>
                <img class="legend-img" src="image/sensor-icon.png"><span> - Sensor</span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>